<div class="contenedor">
  <div class="contenedor-formulario">
    <h1 class="titulo-pagina">
      <i class="fas fa-cash-register"></i> Nueva Venta
    </h1>

    <!-- Buscador  -->
    <div class="grupo-formulario buscador-wrapper">
      <label class="etiqueta-formulario">Buscar producto:</label>

      <div class="autocomplete-container">
        <input
          type="text"
          class="campo-formulario"
          placeholder="Nombre o código..."
          [(ngModel)]="filtro"
          (input)="filtrarProductos()"
          (focus)="mostrarLista = true" />

        <!-- Lista flotante -->
        <ul *ngIf="mostrarLista && productosFiltrados.length > 0"
          class="autocomplete-list">
          <li
            *ngFor="let p of productosFiltrados"
            (click)="seleccionarProducto(p)"
            class="autocomplete-item">
            <strong>{{ p.nombre }}</strong><br>
            <span class="sub">{{ p.codigo_barras }} — ${{ p.precio_final ||
              p.precio_neto }}</span>
          </li>
        </ul>
      </div>

      <div class="lector-codigo">
        <button class="btn-lector" disabled>
          <i class="fas fa-barcode"></i>
          Escanear código
        </button>
        <small class="nota">(Función no disponible)</small>
      </div>

    </div>

    <!-- CANTIDAD -->
    <div class="grupo-formulario">
      <label class="etiqueta-formulario">Cantidad:</label>
      <input
        type="number"
        class="campo-formulario"
        [(ngModel)]="cantidadInput"
        min="1"
        placeholder="1">
    </div>

    <!-- BOTÓN AGREGAR -->
    <div class="contenedor-botones-vertical">
      <button class="boton boton-secundario boton-con-icono"
        (click)="agregarProductoALista()">
        <i class="fas fa-plus"></i>
        Agregar
      </button>
    </div>

    <!--Lista de detalles -->
    <div class="seccion-detalles">
      <h3 class="titulo-seccion">Detalle de la Venta</h3>
      <div class="contenedor-tabla">
        <table class="tabla-datos texto-centrado">
          <thead>
            <tr>
              <th class="texto-centrado">Producto</th>
              <th class="texto-centrado">Cantidad</th>
              <th class="texto-centrado">Precio Unitario</th>
              <th class="texto-centrado">Subtotal</th>
              <th class="texto-centrado ">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemsVenta; let i = index">
              <td>{{ item.nombre }}</td>
              <td class="texto-centrado">{{ item.cantidad }}</td>
              <td class="texto-centrado">${{ item.precio_unitario }}</td>
              <td class="texto-centrado monto-total">${{ item.subtotal }}</td>
              <td class="texto-centrado">
                <button class="boton-eliminar-mini" (click)="eliminarItem(i)"
                  title="Eliminar producto">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="itemsVenta.length === 0">
              <td colspan="5" class="fila-sin-datos">No hay items cargados.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- totales y pagos -->
    <div class="seccion-totales">
      <div class="grupo-formulario">
        <label class="etiqueta-formulario">Método de Pago:</label>
        <select class="campo-formulario" [(ngModel)]="metodoPagoId"
          (change)="onMetodoPagoChange()">
          <option [ngValue]="null">Seleccionar...</option>
          <option *ngFor="let mp of listaMetodosPago" [value]="mp.id">{{
            mp.nombre }}</option>
        </select>
      </div>

      <!-- Boton para QR -->
      <button
        *ngIf="metodoPagoSeleccionadoNombre.includes('mercado')"
        class="btn btn-primary"
        (click)="generarQR()">
        <i class="fas fa-qrcode"></i> Generar QR
      </button>

      <!-- Modal para QR -->
      <div *ngIf="qrBase64">
        <h3>Escanee el QR </h3>
        <img [src]="qrBase64" width="200" alt="QR de pago" />
      </div>

      <div class="contenedor-total">
        <span class="texto-total">Total a Cobrar:</span>
        <h2 class="monto-total-final">${{ totalCalculado }}</h2>
      </div>
    </div>

    <!-- Botón para confirmar -->
    <div class="contenedor-botones-formulario ancho-completo">
      <button
        *ngIf="!metodoPagoSeleccionadoNombre.includes('qr')"
        class="boton boton-primario boton-con-icono"
        (click)="registrarVenta(false)"
        [disabled]="itemsVenta.length === 0 || !metodoPagoId">
        <i class="fas fa-check"></i> Confirmar Venta
      </button>
    </div>
  </div>
</div>