.container {
  text-align: center;
  margin-top: 20px;
}

.qr-img {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border: 4px solid #0288d1;
  border-radius: 12px;
}
.error {
  color: red;
}
